*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 80px;
}

.presentation{
  padding-top: 15px;
  padding-left: 20px;
  font-size: 40px;
}

.presentation img{
  vertical-align: middle;
}

main{
  background-color: #F6F8F9;
}

.contenitor{
  margin: 0 auto;
  width: 90%;
  height: 100%;
  max-width: 900px;
  background-color: white;
  border-radius: 10%;
}

.selection{
  padding-top: 10px;
}

.button{
  margin-top: 10px;
  width: 75px;
  height: 30px;
  text-align: center;
  border-radius: 10%;
  font-size: 12px;
}

.button.task{
  display: inline-block;
  margin-left: 20px;
  background-color: #47ADF1;
  margin-left: 50px;
  color: white;
  line-height: 3em;
}

.button.selection{
  display: inline-block;
  background-color: white;
  border: 1px solid black;
}